<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>

	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/estilitos.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

	<title>Expedientes</title>
</head>

<body>

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;

		}

		.card {
			background-color: white;
			border-radius: 10px;
			overflow: hidden;

			width: 100%;
			/* Ajusta según tus necesidades */
			height: 500px;
		}

		p.card-text {
			padding: 0px;
		}


		.card-body {

			overflow-y: auto;
			/* Agrega un scroll vertical si el contenido es demasiado grande */
			overflow-x: hidden;
			width: 98%;
			/* Ajusta según tus necesidades */
			height: 98%;
		}

		.card-text {
			margin-bottom: 10px;
			color: #333;
		}

		.btn-primary {
			display: block;
			margin: 15px auto;
			width: 50%;
			text-align: center;
			background-color: #007bff;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			margin-top: 15px;
		}

		.btn-primary:hover {
			background-color: #0056b3;
		}

		.btn-secondary {
			display: block;
			margin: 15px auto;
			width: 50%;
			text-align: center;
			background-color: #f2372e;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			margin-top: 15px;
		}

		form input {
			display: flex;
			margin-bottom: 10px;
			width: 300px;
			font-family: 'Poppins', sans-serif;
			/* Agrega la fuente Poppins Sans Serif */
		}

		form label {
			width: 100%;
		}

		form input {
			width: 300px;
			box-sizing: border-box;
			border-radius: 20px;
			background-color: white;
			color: black;
			/* Cambia el color del texto para mejorar la visibilidad */
		}
	</style>



	<header>
		<nav class="navbar navbar-expand-lg navbar-blue with-shadow">
			<div class="container d-flex justify-content-between align-items-center">
				<div>
					<a class="navbar-brand" href="#" th:href="@{/home}">
						<img src="/images/CLINICPET-01.png" alt="Logo" height="100">
					</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">

						<h1 class="display-6 text-center mb-5">Detalle de Expediente</h1>
						<div class="card">
							<div class="card-body">
								<p class="card-text"><strong>Nombre de la Mascota:</strong> <span
										th:text="${expediente.nombrepaciente}"></span></p>
								<p class="card-text"><strong>Especie:</strong> <span
										th:text="${expediente.especie}"></span></p>
								<p class="card-text"><strong>Sexo:</strong> <span th:text="${expediente.sexo}"></span>
								</p>
								<p class="card-text"><strong>Raza:</strong> <span th:text="${expediente.raza}"></span>
								</p>
								<p class="card-text"><strong>Color:</strong> <span th:text="${expediente.color}"></span>
								</p>
								<p class="card-text"><strong>Nombre del Dueño:</strong> <span
										th:text="${expediente.nombrepropietario}"></span></p>
								<p class="card-text"><strong>Dirección:</strong> <span
										th:text="${expediente.direccion}"></span></p>
								<p class="card-text"><strong>Teléfono:</strong> <span
										th:text="${expediente.telefono}"></span></p>
								<p class="card-text"><strong>Medico Referido:</strong> <span
										th:text="${expediente.medicoreferido}"></span></p>
								<p class="card-text"><strong>Id Único del Expediente:</strong> <span
										th:text="${expediente.idCompuesto}"></span></p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="form-container">
							<form th:object="${diagnostico}" th:action="@{/diagnostico/guardarconsulta}" method="post"
								onsubmit="prepararEnvioFormulario()">

								<div class="mb-3 col-4">
									<label for="compuesto">Numero de Expediente:</label>
									<input th:field="*{compuesto}" value="${expediente.idCompuesto}" readonly />
								</div>

								<div class="mb-3 col-4">
									<label for="cita">Numero de Cita:</label>
									<input th:field="*{cita}" value="${cita.idcitas}" readonly />
								</div>

								<div class="mb-3 col-4">
									<label for="sintomas">Sintomas:</label>
									<textarea th:field="*{sintomas}" type="text" name="sintomas" id="sintomas"
										placeholder="Ingrese los síntomas aquí" autocomplete="off"
										style="width: 300px; height: 200px; vertical-align: top; text-transform: uppercase;">
										</textarea>
								</div>

								<div class="mb-3 col-4">
									<label for="encargado">Nombre del encargado presente:</label>
									<input th:field="*{encargado}" type="text" style="text-transform: uppercase;"
										autocomplete="off" id="encargado" name="encargado"
										placeholder="un nombre y un apellido" />
								</div>

								<div class="mb-3 col-4">
									<label for="fechaConsulta">Fecha de consulta:</label>
									<input type="date" th:field="*{fechaConsulta}" style="text-transform: uppercase;"
										autocomplete="off" />
								</div>

								<div class="mb-3 col-4">
									<label for="checkbox1">¿La mascota necesita vacuna?</label>
									<input type="checkbox" id="checkbox1"
										onclick="habilitarElementos('nombreVacuna', 'especieAnimal', 'fechaAplicacion')">
								</div>


								<div class="mb-3 col-4">
									<label for="nombreVacuna">Escoja tipo de vacuna:</label>
									<select th:field="${vacuna.nombreVacuna}" id="nombreVacuna" disabled>
										<option disabled selected value="">Elige una opción</option>
										<option value="parvovirus">Vacuna contra el parvovirus</option>
										<option value="polivalente">Vacuna polivalente</option>
										<option value="rabia">Vacuna contra la rabia</option>
									</select>
								</div>


								<div class="mb-3 col-4">
									<label for="especieAnimal">Especie:</label>
									<select th:field="${vacuna.especieAnimal}" id="especieAnimal" disabled>
										<option value="Canino">Canino</option>
										<option value="Felino">Felino</option>
									</select>
								</div>


								<div class="mb-3 col-4">
									<label for="fechaAplicacion">Fecha de la vacuna:</label>
									<input th:field="${vacuna.fechaAplicacion}" type="date" id="fechaAplicacion"
										disabled>
								</div>


								<div class="mb-3 col-4">
									<label for="checkbox2">¿El paciente necesita exámenes?</label>
									<input type="checkbox" id="checkbox2"
										onclick="habilitarElementosSegundoCaso('tipoExamen', 'especieAnimal2', 'nombreExamen')">
								</div>

								<div class="mb-3 col-4">
									<label for="tipoExamen">Seleccione el examen:</label>
									<select th:field="${examen.tipoExamen}" id="tipoExamen" disabled>
										<option disabled selected value="">Elige una opción</option>
										<option value="Hemograma">Hemograma</option>
										<option value="Perfil Bioquímico">Perfil Bioquímico</option>
										<option value="Estudios de orina">Estudios de orina</option>
									</select>
								</div>


								<div class="mb-3 col-4">
									<label for="especieAnimal">Especie:</label>
									<select th:field="${examen.especieAnimal}" id="especieAnimal2" disabled>
										<option value="Canino">Canino</option>
										<option value="Felino">Felino</option>
									</select>
								</div>


								<div class="mb-3 col-4">
									<label for="nombreExamen">Nombre del examen:</label>
									<input th:field="${examen.nombreExamen}" type="text" id="nombreExamen"
										class="same-height-textbox" disabled style="width: 200px;" autocomplete="off">
								</div>

								<div class="text-body-secondary last-element-in-form mt-4" style="margin-bottom: 30px;">
									<button type="submit" class="btn btn-primary">Completar Consulta</button>
									<a th:href="@{/diagnostico/veterinario}" class="btn btn-secondary">Cancelar</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${mostrarAlerta2}" class="alert alert-danger">
				Guardado exitoso.
			</div>
		</div>
	</div>
	<script>
		function habilitarElementos(nombreVacuna, especieAnimal, fechaAplicacion) {
			var textbox = document.getElementById(nombreVacuna);
			var dropdown = document.getElementById(especieAnimal);
			var additionalTextbox = document.getElementById(fechaAplicacion);

			if (checkbox1.checked) {
				textbox.disabled = false;
				dropdown.disabled = false;
				additionalTextbox.disabled = false;
			} else {
				textbox.disabled = true;
				dropdown.disabled = true;
				additionalTextbox.disabled = true;
			}
		}

		function habilitarElementosSegundoCaso(tipoExamen, especieAnimal2, nombreExamen) {
			var textbox = document.getElementById(tipoExamen);
			var dropdown = document.getElementById(especieAnimal2);
			var additionalTextbox = document.getElementById(nombreExamen);

			if (checkbox2.checked) {
				textbox.disabled = false;
				dropdown.disabled = false;
				additionalTextbox.disabled = false;
			} else {
				textbox.disabled = true;
				dropdown.disabled = true;
				additionalTextbox.disabled = true;
			}
		}
		function prepararEnvioFormulario() {
			// Obtener el estado de los checkboxes
			var checkboxVacunaMarcado = document.getElementById('checkbox1').checked;
			var checkboxExamenesMarcado = document.getElementById('checkbox2').checked;

			// Deshabilitar campos no seleccionados antes de enviar
			if (!checkboxVacunaMarcado) {
				document.getElementById('nombreVacuna').disabled = true;
				document.getElementById('especieAnimal').disabled = true;
				document.getElementById('fechaAplicacion').disabled = true;
			}

			if (!checkboxExamenesMarcado) {
				document.getElementById('tipoExamen').disabled = true;
				document.getElementById('especieAnimal2').disabled = true;
				document.getElementById('nombreExamen').disabled = true;
			}
		}
	</script>

	<footer class="text-center fixed-bottom bg-dark text-white">
		<div class="container">CLINICPET - Application Design with SCRUM &copy; 2023</div>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</footer>

</body>

</html>