<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link th:href="@{/css/estilitos.css}" rel="stylesheet">
</head>
<body>
	<header></header>

	<div class="container centered card-container">
        <div class="card text-center mb-3 mx-3" style="width: 18rem;">
            <div class="card-body mb-3">
                <h5 class="card-title">
                    <i class="fas fa-user"></i> Secretaria
                </h5>
                <p class="card-text">
                    Herramientas para la secretaria
                </p>
                <a href="/secretaria/opciones" class="btn btn-primary">Accesar</a>
            </div>
        </div>

<!--        <div class="card text-center card mb-3 mx-3" style="width: 18rem;">-->
<!--            <div class="card-body mb-3">-->
<!--                <h5 class="card-title">-->
<!--                    <i class="fas fa-briefcase"></i> Dueño-->
<!--                </h5>-->
<!--                <p class="card-text">-->
<!--                    Herramientas del dueño-->
<!--                </p>-->
<!--                <a href="#" class="btn btn-primary">Accesar</a>-->
<!--            </div>-->
<!--        </div>-->

        <div class="card text-center card mb-3 mx-3" style="width: 18rem;">
            <div class="card-body mb-3">
                <h5 class="card-title">
                    <i class="fas fa-paw"></i> Veterinario
                </h5>
                <p class="card-text">
                    Herramientas del veterinario
                </p>
                <a href="/diagnostico/veterinario" class="btn btn-primary">Accesar</a>
            </div>
        </div>
    </div>

	</body>
	
<footer></footer>
</html>