<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head th:replace="/cascaron/template :: head">
	<meta charset="UTF-8">
	<title>Inicio</title>
</head>

<body>
	<header th:replace="/cascaron/template :: header"></header>

	<div class="container text-center mt-5">
		<h1 class="mb-4">Opciones de Secretaría</h1>
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-primary btn-lg">Crear Expediente</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary btn-lg">Crear Consulta</button>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<a th:href="@{/secretaria/buscaexpediente}" class="btn btn-primary btn-lg">Consultar Expediente</a>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary btn-lg">Modificar Consulta</button>
			</div>
		</div>
	</div>

	<footer th:replace="/cascaron/template :: footer"></footer>
</body>

</html>