<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
 
<head th:replace="~{/cascaron/template :: head}">
	<meta charset="UTF-8">
	<title>Inicio</title>
</head>
 
<body>
	<header th:replace="~{/cascaron/template :: header}"></header>
 
	    <div class="container text-center mt-5">
        <h1 class="secretaria-options-title mb-4">Opciones de Secretaría</h1>
        <div class="secretaria-options-container">
            <div class="secretaria-options-buttons">
                <div class="card">
                    <div class="card-title">
                        Expediente
                    </div>
                    <div class="card-text">
                        Creación Primera Vez
                    </div>
                    <a th:href="@{/views/expedientes/create}" class="secretaria-options-btn btn btn-light btn-lg card-button">Crear Expediente</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        Cita
                    </div>
                    <div class="card-text">
                        Creación y Búsqueda de Disponibilidad
                    </div>
                    <a th:href="@{/views/citas/disponibles}" class="secretaria-options-btn btn btn-light btn-lg card-button">Crear</a>
                </div>
            </div>
            <div class="secretaria-options-buttons-low">
                <div class="card">
                    <div class="card-title">
                        Consultar
                    </div>
                    <div class="card-text">
                        Consulta y Edición de expedientes
                    </div>
                    <a th:href="@{/secretaria/buscaexpediente}" class="secretaria-options-btn btn btn-light btn-lg card-button">Consulta</a>
                </div>
                <div class="card">
                    <div class="card-title">
                        Revisión
                    </div>
                    <div class="card-text">
                        Modificar, buscar y cancelar citas
                    </div>
                    <a th:href="@{/views/citas/buscarcita}" class="secretaria-options-btn btn btn-light btn-lg card-button">Revisar</a>
                </div>
            </div>
        </div>
    </div>
    
 
<footer th:replace="~{/cascaron/template :: footer}"></footer>
</body>
 
</html>