<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/estilitos.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


	<title>Secretaria</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-blue with-shadow">
			<div class="container d-flex justify-content-between align-items-center">
				<div>
					<a class="navbar-brand" href="#" th:href="@{/home}">
						<img src="/images/CLINICPET-01.png" alt="Logo" height="100">
					</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="container text-center mt-5">
		<h1 class="secretaria-options-title mb-4">Opciones de Secretaría</h1>
		<div class="secretaria-options-container">
			<div class="secretaria-options-buttons">
				<div class="card">
					<div class="card-title">
						Expediente
					</div>
					<div class="card-text">
						Creación Primera Vez
					</div>
					<a th:href="@{/views/expedientes/create}"
						class="secretaria-options-btn btn btn-light btn-lg card-button">Crear Expediente</a>
				</div>
				<div class="card">
					<div class="card-title">
						Cita
					</div>
					<div class="card-text">
						Creación y Búsqueda de Disponibilidad
					</div>
					<a th:href="@{/views/citas/disponibles}"
						class="secretaria-options-btn btn btn-light btn-lg card-button">Crear</a>
				</div>
			</div>
			<div class="secretaria-options-buttons-low">
				<div class="card">
					<div class="card-title">
						Consultar
					</div>
					<div class="card-text">
						Consulta y Edición de expedientes
					</div>
					<a th:href="@{/secretaria/buscaexpediente}"
						class="secretaria-options-btn btn btn-light btn-lg card-button">Consulta</a>
				</div>
				<div class="card">
					<div class="card-title">
						Revisión
					</div>
					<div class="card-text">
						Modificar, buscar y cancelar citas
					</div>
					<a th:href="@{/views/citas/buscarcita}"
						class="secretaria-options-btn btn btn-light btn-lg card-button">Revisar</a>
				</div>
			</div>
		</div>
	</div>


	<footer class="text-center fixed-bottom bg-dark text-white">
		<div class="container">CLINICPET - Application Design with SCRUM &copy; 2023</div>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</footer>
</body>

</html>