body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.head {
	width:98%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/photo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido en la página */
}


#pagina {
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* 100% del alto del viewport */
    width: 100vw; /* 100% del ancho del viewport */
    position: absolute; /* Fijar el fondo para que no se desplace con el contenido */
}

.form-expediente {
    background-color: rgb(245, 245, 245);
    max-height: 80vh; /* Altura máxima del 80% del alto de la ventana */
    min-height: 40vh; /* Altura mínima del 40% del alto de la ventana */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    padding: 20px; /* Añade un espacio interno al contenedor si lo deseas */
    margin-top: 20px; /* Añade margen superior para separar el formulario del nav */
    margin-bottom: 20px; /* Añade margen inferior para separar el formulario del footer */
    width: 700px;
}

.form-expediente .custom-input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.form-expediente .form-group-container {
    margin-bottom: 20px; /* Añade margen inferior al contenedor */
}


/* Estilos para el formulario */
#miFormulario .card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#miFormulario .form-control {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

#miFormulario .btn {
    border-radius: 25px;
}

/* Personaliza los colores de los botones según tu preferencia */
#miFormulario .btn-primary {
    background-color: #007bff;
    color: #fff;
}

#miFormulario .btn-secondary {
    background-color: #333;
    color: #fff;
}

/* Centra verticalmente el contenido del formulario */
#miFormulario .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para los input con la clase "custom-input" */
input.custom-input {
    border: 2px solid gray; /* Borde gris de 2 píxeles */
    border-radius: 25px; /* Bordes redondeados de 25 píxeles */
    padding: 8px; /* Espaciado interno para que quepa el texto del placeholder */
    width: 100%; /* Ancho del input al 100% del contenedor */
}

/* Cambia el color del texto del placeholder a gris */
input.custom-input::placeholder {
    color: gray;
}

/* Estilo para los botones "Submit" y "Cancelar */
#miFormulario input[type="submit"] {
    background-color: #007bff; /* Color de fondo azul para el botón "Submit" */
    color: #fff; /* Color de texto blanco */
    border: 2px solid #007bff; /* Borde azul de 2px */
    border-radius: 25px; /* Bordes redondeados de 25px */
    padding: 10px 20px; /* Espacio interno del botón */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

/* Estilo para el botón "Cancelar" */
#miFormulario a.btn-secondary {
    background-color: #ff0000; /* Color de fondo rojo para el botón "Cancelar" */
    color: #fff; /* Color de texto blanco */
    border: 2px solid #ff0000; /* Borde rojo de 2px */
    border-radius: 25px; /* Bordes redondeados de 25px */
    padding: 10px 20px; /* Espacio interno del botón */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;  Fondo azul 
    color: #fff;  Texto blanco 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}


 Estilo al pasar el mouse sobre los botones 
#miFormulario input[type="submit"]:hover, #miFormulario a.btn-secondary:hover {
    background-color: #0056b3;  Color de fondo azul más oscuro al pasar el mouse 
}

