<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6aW0G5wN4z6EGGoBlDWpDN9L21/+1z9N" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Error 403: Acceso Denegado</h1>
            <p class="lead" th:text="${error}"></p>
        </div>
    </div>

    <!-- Agrega los enlaces a los archivos JavaScript de Bootstrap y jQuery al final del cuerpo del documento -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-9aSIlxuA9gS9P/lmUfRTrUmZk4oThU7jqakYhpGRaJ/4xUnUTlsT4ZkDBn4zV4YO"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6aW0G5wN4z6EGGoBlDWpDN9L21/+1z9N"
        crossorigin="anonymous"></script>
</body>

</html>
