<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bienvenidos</title>
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-4">¡Bienvenidos!</h1>
			<p class="lead">Esta Applicacion fue construida siguiendo la metodologia agil Scrum.</p>
			<hr class="my-4">
			<p>Puedes ingresar al contenido segun tu perfil:</p>
			<a class="btn btn-primary btn-lg" th:href="@{/secretaria/logeosecretaria}" role="button">Acceder como Secretaria</a>
			<a class="btn btn-primary btn-lg" th:href="@{/diagnostico/iniciarconsulta}" role="button">Acceder como Veterinario</a>
			</form>
		</div>
	</div>

	<!-- Bootstrap JS and Popper.js (Optional) -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>