<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace="/cascaron/template :: head">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<header th:replace="/cascaron/template :: header"></header>

	<div class="container text-center">
	<div class="card mb-3 " style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Secretaria</h5>
			<p class="card-text">
				Herramientas para de la secretaria
			</p>
			<a href="/secretaria/opciones" class="btn btn-primary">Accesar</a>
		</div>
	</div>

	<div class="card text-center mb-3" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Dueno</h5>
			<p class="card-text">
				Herramientas del dueno
			</p>
			<a href="#" class="btn btn-primary">Accesar</a>
		</div>
	</div>

	<div class="card text-end text-center" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Veterinario</h5>
			<p class="card-text">
				Herramientas del veterinario
			</p>
			<a href="#" class="btn btn-primary">Accesar</a>
		</div>
	</div>
	</div>

	<footer th:replace="/cascaron/template :: footer"></footer>
</body>
</html>